*{
	box-sizing: border-box;
}

select {
	outline: none;
}

.container{
	min-width: 320px;
	max-width: 1280px;
	padding: auto;
	margin: auto;
   
}

.header_menu{
	position: relative;
	width: 100%;
	height: auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
        
	
}
.logo{
	
}

.nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	width: 100%;
}

.nav ul{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style-type: none;
	
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.nav li a,
#touch-menu{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	font-family: Gotham Medium;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #96a6a7;
}

#touch-menu {
	display: none;
	vertical-align: middle;
	padding: 30px;
	cursor: pointer;
}

.nav li a:hover, #touch-menu:hover{
	color: #ff43ff;
}

.header_right {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/*SEARCH*/

.panel{
	background: #eeeeee;
}

.form_search{
	width: 74px;
	height: 74px;
	position: relative;
}

.form-search-input{
	position: absolute;
    z-index: 1;
    top: 100%;
    width: 180px;
    display: none;
    padding: 10px 5px;
}

.search{
	
	width: 74px;
	height: 74px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 20px;
	background-color: #e2dee0;	
	padding: 0;
}


.search_submit {
	color: #fff;
    background-color: #e2dee0;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    font-size: 22px;
    font-weight: normal;
    cursor: pointer;
}

.search_submit:hover,
.search_submit:hover {
	background-color: #d8d4d6;
}

.search_submit:active {
	box-shadow: inset 0 0 15px #a8a8a8;
}

/*END SEARCH*/


/*MODAL Login*/

.modal1{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}

/*modal content/box*/
.modal-content{
	background-color: #fefefe;
	margin: 5px auto;
	border: 1px solid#888;
	width: 80%;
}
/*Close button*/
.close{
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

/*close button on hover*/
.close:hover, .close:focus{
	color: red;
	cursor: pointer;
}
/*add Zoom Animation*/
.animate{
	-webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {-webkit-transform: scale(0);transform: scale(0)} 
    to {-webkit-transform: scale(1);transform: scale(1)}

}
label{
	width: 400px;
	height: 50px;

}
.avatar{
	width: 100%;
	height: auto;
}
.cont_block{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px;
    width: 100%;

}
.submit_btn{
	background-color: #4CAF50;
	color: #fff;
}

.cont_block1{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 70px;
	padding: 15px;

}
.cancel_btn{
	width: 80px;
	height: 40px;
	color: #fff;
	background-color: #E62117;
	border: 0;
	text-transform: uppercase;

}

.label{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
/*MODAL LOGIN*/


.login {
	width: 320px;
	height: 74px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #e94e38;
	cursor: pointer;
}

.login:hover,
.login:hover {
	background-color: #d34430;
}

.login:active {
	box-shadow: inset 0 0 15px #a83626;
}

.login_txt {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.login_txt span,
.fa-user-o {
	padding: 10px;
	font-family: Gotham Medium;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.search_bg{
	width: 100%;
	height: 378px;
	background-size: cover;
	background-image: url(../img/search_bg.jpg);
	background-repeat: no-repeat;
}
	
	
}
.search1{
	width: 100%;
	height: auto;
	padding-top: 80px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #fff;
}
.search_h1{
	font-size: 30px;
	font-family: Gotham Medium;
	margin: 0;
    text-align: center;
    padding-top: 75px;
    color: #fff;
}

.modal{
	width: 100%;
	height: 230px;
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;        
	
}
.country_form{

	position: absolute;
	left: 376px;
	top: 10px;
	padding-top: 0;
	padding-left: 70px;
	width: 220px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
	
}
.country_form1{
	position: absolute;
	left: 650px;
	top: 10px;
	padding-top: 0;
	padding-left: 70px;
	width: 220px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
	
}
.list{
    border-radius: 25px;
    width: 221px;
    height: 50px;
    padding-left: 64px;
}

.search_tour{
	
	position: absolute;
	padding-top: 15px;
	top: 95px;
	left: 355px
	
}
.country_list{
	padding-top: 15px;
}

.search_list{
	position: absolute;
	width: 492px;
	height: 50px;
	border-radius: 25px;
	top: 90px;
	left: 380px;
	
}

.btn_search{
	position: absolute;
	top: 165px;
	left: 550px;
	width: 150px;
	height: 50px;
	background-color: #e94e38;
	border-radius: 25px;
	text-align: center;
    padding-top: 15px;
	text-transform: uppercase;

}
.btn_search a{
	text-decoration: none;
	list-style-type: none;
	color: #fff;	
}

/*Sub_FILTER*/
.h3{
	visibility: hidden;
}
/*HIDDEN FILTER*/
.filters, #hidden_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	
}
.filters{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style-type: none;
	height: 43px;


}

.filters,
#hidden_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	font-family: Gotham Medium;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #96a6a7;
}
#hidden_filter{
	display: none;
	
}
.filters:hover, #hidden_filter:hover{
	color: #ff43ff;
}
/*HIDDEN FILTER*/


/*HIDDEN RECOMMEND*/
.recommend, #recom_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	        width: 400px;
	        height: 50px;
	
	
}


.recommend,
#recom_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	font-family: Gotham Medium;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #96a6a7;
}
#recom_filter{
	display: none;
	vertical-align: left;
}
.recommend:hover, #recom_filter:hover{
	color: #ff43ff;
}
/*HIDDEN RECOMMEND*/


/*SUBFILTER*/
.main_filter, #sub_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	
	
}
.main_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style-type: none;
	height: 43px;


}

.main_filter,
#sub_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px 15px;
	text-decoration: none;
	font-family: Gotham Medium;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #96a6a7;
}
#sub_filter{
	display: none;
	
}
.main_filter:hover, #sub_filter:hover{
	color: #ff43ff;
}
/*SUBFILTER*/




.filter_box{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	        
	width: 100%;        
	height: 80px;
	position: relative;
}
.recommend{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	

} 
.recommend ul{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
	
}
.recommend ul li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style-type: none;
	text-decoration: none;
	padding-top: 0;
}
.recommend a{
	text-decoration: none;
	padding: 15px;
	text-transform: uppercase;
} 
.recom_a{
	color: #d2d8d9;
	font-size: 12px;
	padding: 0;
}
.recom_a:hover{
	color: #e94e38;
}







/* FILTER_MAP*/


.filters{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 260px;

	
}

.filter_map{
	padding-top: 0;
	padding-left: 30px;
	width: 130px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}

.filter_map1{
	padding-top: 0;
	padding-left: 30px;
	width: 130px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: bold;
}
.country_filters{
	padding: 15px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* END FILTER MAP*/

/*SUBFILTER*/



.main_filter{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: justify;
	        justify-content: space-around;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	        
	
}

.main_filter ul{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    position: absolute;
    top: 11px;
    /* left: 922px; */
	
}
.span_filter{
	position: absolute;
    top: 31px;
    left: 870px;
}
.main_filter ul li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style-type: none;
	text-decoration: none;
	padding-top: 5px;
	padding-left: 9px;
}

.imgl{
	width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: #1baf5d;
    text-align: center;
    padding-top: 10px;
}

.imgl1{

    background-color: #b6c0c1;
}
.imgl2{

    background-color: #b6c0c1;
}
.imgl3{

    background-color: #f19e1f;
}
.imgl4{

    background-color: #88499c;
 }   

 /*OFFER*/
 .offer_bg{
 	width: 100%;
 	height: auto;
 	background-color: #f3f1f2;
 	border-top: 1px solid #e2dee0;
 }
 .offer{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;

 }
 .offer_small{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	        -webkit-flex-wrap: wrap;
 	            -ms-flex-wrap: wrap;
 	                flex-wrap: wrap;
 	width: 100%;
 	padding: 50px 140px;
 	position: relative;

 }

 .offer_long{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	        -webkit-flex-wrap: wrap;
 	            -ms-flex-wrap: wrap;
 	                flex-wrap: wrap;
 	width: 100%;
 	padding: 0px 140px;
 }
 .offer_short{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	        -webkit-flex-wrap: wrap;
 	            -ms-flex-wrap: wrap;
 	                flex-wrap: wrap;
 	width: 100%;
 	padding: 50px 140px;
 }
 .offer_mix{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: column;
 	    -ms-flex-direction: column;
 	        flex-direction: column;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	width: 100%;
 	padding: 0px 140px;
 	-webkit-flex-wrap: wrap;
 	    -ms-flex-wrap: wrap;
 	        flex-wrap: wrap;
 }
 .offer_small{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;

 }
 .offs_pi1, .offs_pi2, .offs_pi3, .offs_pi4{
 	margin: 15px;
 	position: relative;

 }
 .legend{
 	color: #1baf5d;
 }
 .legend1{
 	color: #f19e1f;
 }
 .legend2{
 	color: #88499c;
 }

 .pic1_offs{
 	position: absolute;
 	width: 65px;
 	height: 27px;
 	background-color: #1baf5d;
 	border-radius: 25px;
 	text-align: center;
 	padding-top: 4px;
 	color: #fff;
 	right: 10px;
 	top: 10px;
 	margin: 0;
 }
 .pics{
 	position: absolute;
 	width: 55px;
 	height: 55px;
 	border-radius: 50%;
 	border: 2px solid #fff;
 	text-align: center;
 	background-color: #1baf5d;
 	top: 115px;
 	left: 80px;
 	padding-top: 14px;
 }
 .pics1{
 	position: absolute;
 	width: 55px;
 	height: 55px;
 	border-radius: 50%;
 	border: 2px solid #fff;
 	text-align: center;
 	background-color: #f19e1f;
 	top: 115px;
 	left: 80px;
 	padding-top: 14px;
 }
 .pics2{
 	position: absolute;
 	width: 55px;
 	height: 55px;
 	border-radius: 50%;
 	border: 2px solid #fff;
 	text-align: center;
 	background-color: #88499c;
 	top: 115px;
 	left: 80px;
 	padding-top: 14px;
 }
 .pic_cont_p{
 	position: absolute;
 	color: #566375;
    width: 160px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Gotham Medium;
    top: 160px;
    left: 25px;
 }
 .pic_cont_p1{
 	color: #1baf5d;
 	font-size: 12px;
 	font-weight: bold;
    font-family: Gotham Medium;
 }
 .pic_cont_p1a{
 	color: #f19e1f;
 	font-size: 12px;
 	font-weight: bold;
    font-family: Gotham Medium;
 }
 .pic_cont_p1b{
 	color: #88499c;
 	font-size: 12px;
 	font-weight: bold;
    font-family: Gotham Medium;
 }



 /*str rating STARS*/



.star-rating{
	position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
    border: 0;
    text-align: center;
}


.star-rating_stars1 {
    width: 105px;
    margin: 0 auto;
    font-size: 15px;
    overflow: hidden;
    direction: rtl;
    position: absolute;
    left: 5px;
    top: 20px;
}
.star-rating_stars1a {
    width: 105px;
    margin: 0 auto;
    font-size: 15px;
    overflow: hidden;
    direction: rtl;
    position: absolute;
    left: 5px;
    top: 20px;
}

.star-rating_stars2 {
    width: 105px;
    margin: 0 auto;
    font-size: 15px;
    overflow: hidden;
    direction: rtl;
    position: absolute;
    right: 5px;
    top: 20px;
}
.star-rating_stars3 {
    width: 105px;
    margin: 0 auto;
    font-size: 15px;
    overflow: hidden;
    direction: rtl;
    position: absolute;
    right: 35px;
    top: 20px;
}
.star-rating_stars4 {
    width: 105px;
    margin: 0 auto;
    font-size: 15px;
    overflow: hidden;
    direction: rtl;
    position: absolute;
    right: 103px;
    top: 20px;
}
.star-rating_stars {
	width: 105px;
 	margin: 0 auto;
	font-size: 15px;
	overflow: hidden;
	direction: rtl;
}

.star-rating_star {
	position: relative;
	margin-left: -2px;
	color: #aaa;
	transition: color .4s;
	cursor: pointer;
}

.star-rating_star:last-child {
	margin-left: 0;
}

.star-rating_star:hover,
.star-rating_star:hover ~ .star-rating_star {
	color: #d1b000;
	cursor: pointer;
}

.rating_star--active {
	color: #FFD700;
}

.star-rating_star:active,
.star-rating_star:active ~ .star-rating_star {
	color: #FFD700;
	top: 1px;
}




/*str rating STARS*/
.offer_long{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	
 	width: 100%;
 }
.long_pic, .long_pic_peter{
	position: relative;
	
	width: 455px;
	height: 260px;
	background-color: #fff;
}
 .pics_long{
	position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    background-color: #1baf5d;
    top: 89px;
    left: 17px;
    padding-top: 19px;
 }
 .pics_lucy{
 	position: absolute;
 	top: 169px;
    left: 17px;
 }
 .pic_long_p{
 	position: absolute;
    top: 75px;
    left: 115px;
    font-size: 18px;
    font-family: Gotham Medium;
    color: #fff;
    text-transform: uppercase;
 }
 .star-rating_long1{
	position: absolute;
	top: 94px;
    left: 273px;
 }
 .span{
 	color: #fff;
 	font-family: Gotham Medium;
 	font-size: 12px;
 }
 .star-rating_long2{
 	position: absolute;
	top: 140px;
    left: 108px;
 }
 .lucy{
 	position: absolute;
 	font-size: 16px;
	font-family: Gotham Bold;
	color: #566375;
    top: 154px;
    left: 115px;
    text-transform: uppercase;
    font-weight: bold;
 }
 .lucy_txt{
 	position: absolute;
 	width: 323px;
 	height: 60px;
 	font-family: Gotham Medium;
 	color: #566375;
 	top: 180px;
 	left:115px; 
 }
 .link{
 	color: #566375;
 	font-size: 14px;
 	font-family: Gotham Book;
 	font-weight: bold;

 }
.piclong_club{
	width: 100%;
	height: auto;
	-webkit-flex-direction: column;	
	    -ms-flex-direction: column;	
	        flex-direction: column;
} 
.club{
	width: 100%;
	height: auto;
}

.pics_long_peter{
	position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    background-color: #f19e1f;
    top: 89px;
    right: 374px;
    padding-top: 19px;
 }
 .pics_peter{
 	position: absolute;
 	top: 169px;
    right: 374px;
 }
 .pic_long_peter{
 	position: absolute;
    top: 75px;
    right: 215px;
    font-size: 18px;
    font-family: Gotham Medium;
    color: #fff;
    text-transform: uppercase;
 }
 .star-rating_long1_peter{
	position: absolute;
	top: 94px;
    right: 115px;
 }
 .span{
 	color: #fff;
 	font-family: Gotham Medium;
 	font-size: 12px;
 	position: absolute;
    top: 4px;
    left: 90px;
 }
 .span1{
 	color: #fff;
    font-family: Gotham Medium;
    font-size: 12px;
    position: absolute;
    top: 4px;
    left: 2px;
 }
 .star-rating_long2_peter{
 	position: absolute;
	top: 140px;
    right: 225px;
 }
 .peter{
 	position: absolute;
 	font-size: 16px;
	font-family: Gotham Bold;
	color: #566375;
    top: 154px;
    right: 262px;
    text-transform: uppercase;
    font-weight: bold;
 }
 .peter_txt{
 	position: absolute;
 	width: 323px;
 	height: 60px;
 	font-family: Gotham Medium;
 	color: #566375;
 	top: 180px;
 	right:17px; 
 }  

.offer_mix{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.long_pic_mix{
	position: relative;
	margin: 5px;
	width: 455px;
    height: 260px;
    background-color: #fff;
}

 .pics_long_mix{
	position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
    text-align: center;
    background-color: #f19e1f;
    top: 89px;
    left: 20px;
    padding-top: 19px;
 }
 .pics_mix{
 	position: absolute;
 	top: 162px;
    right: 373px;
 }
 
 .star-rating_long1_mix{
	position: absolute;
	top: 94px;
    left: 250px;
 }

 .star-rating_long2_mix{
 	position: absolute;
	top: 140px;
	right: 173px;
 }
 .mix{
 	position: absolute;
 	font-size: 16px;
	font-family: Gotham Bold;
	color: #566375;
    top: 154px;
    left: 100px;
    text-transform: uppercase;
    font-weight: bold;
 }
 .mix_txt{
 	position: absolute;
 	width: 323px;
 	height: 60px;
 	font-family: Gotham Medium;
 	color: #566375;
 	top: 180px;
 	left:100px; 
 } 
 .pic_long_mix{
 	position: absolute;
    top: 75px;
    left: 100px;
    font-size: 18px;
    font-family: Gotham Medium;
    color: #fff;
    text-transform: uppercase;
 }
 .load_link{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	padding-top: 25px;
 	padding-bottom: 35px;

 }
 .load_more{
 	font-size: 18px;
 	font-family:  Gotham Medium;
 	color: #566375;
 	font-weight: bold; 
 }
 /*OFFER TO U*/
 .offer_to_txt{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: column;
 	    -ms-flex-direction: column;
 	        flex-direction: column;
 	-webkit-justify-content: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	border-top: 2px solid #e2dee0;
 	padding-top: 30px;
 }

 .offer_to_U{
 	font-family:  Gotham Medium;
 	color: #566375;
 }
 .offer_to_p{
 	font-size: 16px;
 	font-family:  Gotham Book;
 	color: #a4b1b2;
 }

 .offer_filter{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	        -webkit-flex-wrap: wrap;
 	            -ms-flex-wrap: wrap;
 	                flex-wrap: wrap;
 	padding: 90px;
 }

.offer_clr1{
	color: #9dacad;
}

 img .offer_clr1:hover{
 	color: #9dacad;

 }
 .reality{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	-webkit-justify-content: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	font-size: 24px;
 	color: #1db05e;
 	font-family:  Gotham Medium;
 	font-weight: bold;

 }
 .real_ty{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: space-around;
 	        justify-content: space-around;
 	        -webkit-flex-wrap: wrap;
 	            -ms-flex-wrap: wrap;
 	                flex-wrap: wrap;
 	width: 100%;
 	height: auto;
 }
.flash1, .leaf1{   
	width: 371px;
    height: 136px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

 .flash_p{
 	width: 216px;
    height: 136px;
    font-size: 14px;
    font-family: Gotham Book;
    color: #566375;
 }

 .thunder{
 	margin-left: 37px;
 	padding-top: 15px;
 }
 .leaf{
 	margin-left: 37px;
 	padding-top: 15px;
 }

 

 /*FOOTER*/

 .footer_bg{
 	width: 100%;
    height: 501px;
    background-image: url(../img/search_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }
 .h2_footer{
 	text-align: center;
    padding-top: 60px;
    padding-bottom: 46px;
    margin: 0;
    color: #fff;
 }
 .btn_search_footer{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 }
 .send_msg{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: center;
 	    -ms-flex-pack: center;
 	        justify-content: center;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	width: 491px;
 	height: 63px;
 	position: relative;
 }
 .send_msg_{
 	width: 100%;
 	height: 63px;
 	border-radius: 25px;
 	padding-left: 80px;
 	background-color: #5b5553;
 	opacity: .3;

 }
 .btn_subscrb{
 	position: absolute;
    right: 5px;
    width: 125px;
    height: 55px;
 	text-align: center;
 	padding-top: 20px;
 	color: #fff;
 	background-color: #e94e38;
 	border-radius: 25px;
 }
 .btn_subscrb{
 	list-style-type: none;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-family: Gotham Medium;
 	font-size: 14px;
 	top: 4px;
 }
 .fa-envelope-o {
 	color: #fff;
 	position: absolute;
 	left: 50px;
 	top: 24px;
 }

 .footer_content{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: row;
 	    -ms-flex-direction: row;
 	        flex-direction: row;
 	-webkit-justify-content: space-around;
 	    -ms-flex-pack: distribute;
 	        justify-content: space-around;
 	-webkit-align-items: center;
 	    -ms-flex-align: center;
 	        align-items: center;
 	        -webkit-flex-wrap: nowrap;
 	            -ms-flex-wrap: nowrap;
 	                flex-wrap: nowrap;
    /* width: 298px; */
    height: auto;
    padding: 0;
    margin: 0;
 }
 .footer_block1{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: column;
 	    -ms-flex-direction: column;
 	        flex-direction: column;
 	-webkit-flex-wrap: nowrap;
 	    -ms-flex-wrap: nowrap;
 	        flex-wrap: nowrap;
 	/* margin-left: 150px;
 	padding-top: 5px; */
 	width: 100%;
    height: auto;
 }
 .block1_p{
	margin: 5px;
	color: #7a7772;
	font-family: Gotham Book;
	font-size: 14px;
	height: 26px;
 }

 .footer_block2{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: column;
 	    -ms-flex-direction: column;
 	        flex-direction: column;
 	-webkit-flex-wrap: nowrap;
 	    -ms-flex-wrap: nowrap;
 	        flex-wrap: nowrap;
 	width: 100%;
    height: auto;
 }

 .footer_block3{
 	display: -webkit-flex;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-flex-direction: column;
 	    -ms-flex-direction: column;
 	        flex-direction: column;
 	-webkit-flex-wrap: nowrap;
 	    -ms-flex-wrap: nowrap;
 	        flex-wrap: nowrap;
 	width: 100%;
    height: auto;
 }
 .fa-2x{
 	color: #fff;
 	padding: 5px;
 }
 

 .block_h3{
	font-family: Gotham Medium;
	font-size: 16px;
	color: #fff;

 }
 .socials{
 	padding-top: 26px;
 }
 .copyright{
 	padding-top: 65px;
 	color: #7a7772;
 }
 